body {
  text-align: center;
  background-color: #011F3F;
  color: white;
  font-family: sans-serif;
}

.container {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  height: 140px;
  width: 140px;
  margin: 10px;
  border-radius: 20%;
  cursor: pointer;
  opacity: 0.8;
}

.green { background-color: green; }
.red    { background-color: red; }
.yellow { background-color: yellow; }
.blue   { background-color: blue; }

.pressed {
  box-shadow: 0 0 20px white;
  opacity: 1;
}
